.container{  
background-color: #150b3e;
  font-size: 30px;
  font-family: "roboto";
  height:100vh; 
  padding:20px;
}  


.button{
  background-color: blueviolet; 
  color:black;
  border-radius: 10px; 
  margin: 20px; 
  padding:10px;
} 
.counting{
  color: rgba(16, 179, 182, 0.714);
} 
.name-heading{ 
  color: #c7d2fe;

} 
.balance-containter{
  display: flex; 
  flex-direction: row;
}

.balance-deatils{
  color: #7c3aed; 
  padding-right: 70%;
}  
.balance-para{ 
  color: #7c3aed; 
  font-size: 20px;
  padding-left: 88%;
}
.total-balance{
  color: #d4d2db
} 
.withdrawal-heading{
  color: #c7d2fe;
} 
.rupees-para{
  color: #7c3aed; 
  font-size: 20px;
}

.withdraw-button{
  background-color: #382f5a; 
  color: #c4c4c4 ;
  padding-left:50px; 
  padding-right: 50px;
  text-align: center;
  font-size: 20px; 
  margin-right: 20px;  
  margin-bottom: 20px;
  border-radius: 5px; 
  border-color: #c4c4c4;
}
